VITE_API_BASE_URL=http://localhost:8082
VITE_OUTBOUND_BASE_URL=http://localhost:8087/api/v1/outbound
VITE_KEYCLOAK_URL=http://localhost:8089
VITE_KEYCLOAK_REALM=voxflow-realm
VITE_KEYCLOAK_CLIENT_ID=voxflow-ui
VITE_SIMULATOR_ENABLED=true
